body {
    background: #e5e5e5;
    font-family: "Inter", sans-serif;
}

textarea {
    font-family: "Inter", sans-serif;
}

.logo {
    margin: 40px;
}

main {
    width: 80%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.seccion1 {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cajatexto {
    width: 80%;
    font-size: 28px;
    color: #0A3871;
    background: none;
    border: none;
    outline: none;
    resize: none;
}

.cajatexto::placeholder {
    color: #0A3871;
}

.alerta {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 0;
    gap: 8px;
    position: absolute;
    color: #495057;
}

.contenedor-botones {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}
.btn-encriptar,.btn-desencriptar,.btn-copiar{
    max-width: 328px;
    min-width: 160px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.btn-encriptar {
    width: 40%;
    background-color: #0A3871;
    color: #e5e5e5;
    
}

.btn-desencriptar {
    width: 40%;
    background-color: #D8DFE8;
    color: #0A3871;
}

.seccion2 {
    height: calc(100% + 48px);
    background: #ffffff;
    border-radius: 32px;
    padding: 32px;
    margin-top: 40px;
    gap: 32px;
    box-sizing: border-box;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 24px 32px 8px rgba(0,0,0, 0.08);
}
.muneco{
    width: 100%;
}

.mensaje1 {
    font-size: 24px;
    font-weight: bold;
}

.info1 {
    margin-top: 16px;
    font-size: 16px;
    color: #495057;
}
.mensajeFinal{
    height: 86%;
    width: 100%;
    font-size: 24px;
    padding: 20px;
    top: 0;
    left: 0; 
    border: none;
    resize: none;
    justify-content: start;
    background: none;
    line-height: 36px;
    font-weight: bold;
    color: #495057;
    display: none;
}
.mensajeFinal:focus{
    outline: none;
}
/* .contenedor-copiar{
    bottom: 400px;
    top: 700px;
    width: 100%;
    align-items: center;
} */
.btn-copiar {
    position: relative;
    margin-bottom: 15px;
    background-color: #D8DFE8;
    color: #0A3871;
    display: none;
}
.btn-encriptar:hover,.btn-desencriptar:hover,.btn-copiar:hover{
    transform: scale(0.97);
}

.contenedorfooter{
    text-align: center;
    padding: 24px;
    color: #0A3871;
}
.github{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.github:hover{
    opacity: 0.6;
}
@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }

    .seccion2 {
        height: 100%;
    }

    .contenedor-botones{
        justify-content: center;
    }

    .btn-desencriptar,
    .btn-encriptar {
        width: 45%;
    }
    .btn-copiar{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
        justify-content: center;
    }

    .muneco {
        display: none;
    }
    .contenedorfooter{
        display: none;
    }
}

@media screen and (max-width:500px) {
    main {
        margin: auto 16px;
    }

    .btn-desencriptar,
    .btn-encriptar {
        max-width: 100%;
        width: 100%;
    }
}